<form action="/theaters/{{theaterId}}/events" method="POST">

    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="type">Type</label>
    <input type="text" name="type">

    <input type="submit" value="Create">

</form>