<!DOCTYPE html>
<html>
  <head>
  <div class="stans">
  <ul id="menu">
    <li><input type="search" placeholder="search"></li>
      <li>Home</li>
      <li>News</li>
      <li>Merch</li>
      <li>Photos</li>
  </ul>
</div>

    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <h2>Horror Stans</h2>
      <img  src="https://i.imgur.com/NOJPoVk.jpg">
    </header>
    
    {{{body}}}


 
 



<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
</div>


<script async src="https://static.addtoany.com/menu/page.js"></script>

  </body>
</html>
