<!DOCTYPE html>
<html>
  <head> Welcome to Horror Stans!!!

    <title>Horror Stans</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    {{{body}}}

  
  </body>
</html>
