<!DOCTYPE html>
<html>
  <head>

   
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <img  src="https://i.imgur.com/NOJPoVk.jpg">
    </header>
    {{{body}}}

  
  </body>
</html>
