body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#centeredmenu {
  float:left;
  width:100%;
  background:#fff;
  border-bottom:4px solid #000;
  overflow:hidden;
  position:relative;
}
#theaterlist ul {
  clear:left;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  left:50%;
  text-align:center;
}
#theaterlist ul li {
  display:block;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  right:50%;
}
#theaterlist ul li a {
  display:block;
  margin:0 0 0 1px;
  padding:3px 10px;
  background:#ddd;
  color:#000;
  text-decoration:none;
  line-height:1.3em;
}
#theaterlist ul li a:hover {
  background:#369;
  color:#fff;
}
#theaterlist ul li a.active,
#theaterlist ul li a.active:hover {
  color:#fff;
  background:#000;
  font-weight:bold;
}

.h1 {
  text-align: center
}
