body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-image: url("https://i.imgur.com/KMLxrak.jpg");
}

a {
  color: red;
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  color: white;
}
h3 {
  color: red;
}

.pic {
  float: right;
  margin: 0 0 10px 10px;
}

.last {
  color:red;
}

.screen {

  font-size: 18px;
}

.share {
  color:red;
}

.upcoming {
  text-align:center;
}

/* got the idea of this set up from this site http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support  */

#theaterlist {
  float:left;
  width:100%;
  background:black;
  overflow:hidden;
  position:relative;
  font-size:100;
}
#theaterlist ul {
  clear:left;
  float:left;
  list-style:none;
  margin:100;
  padding:0;
  position:relative;
  left:50%;
  text-align:center;
  font-size:100;
  
}
#theaterlist ul li {
  display:block;
  float:left;
  list-style:none;
  margin:3em;
  padding:0;
  position:relative;
  right:50%;
  font-size:100;
}
#theaterlist ul li a {
  display:block;
  margin:0;
  padding:6em;
  background-image: url("https://i.imgur.com/YzISmkH.jpg");
  color: white;
  text-decoration:none;
  font-family: fantasy;
  line-height:.3em;
  font-size:100;
}

#theaterlist ul li a:hover {
  background:#369;
  color:#fff;
}
#theaterlist ul li a.active,
#theaterlist ul li a.active:hover {
  color:#fff;
  background:#000;
  font-weight:bold;
  font-size:100;
}

.header {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row; */
  text-align: center
}
.list {
  color:red;
}

.stans {
  color:white;
  flex:row;
  float:right;
}