<div>

    <h1>Upcoming Horror Events</h1>

    <h3>Theaters:</h3>
    <div>
        <a href="/theaters/new">Add New Theater</a>
        <br>
    

    </div>

    <div id="theaterlist">
        <ul>
    {{#each theaters}}
          <li>
              
              <a class="screen" href="/theaters/{{this._id}}/events">{{this.name}}</a></li>
           
              
    {{/each}}
        </ul>
    </div>
</div>