<div>

    <h1>Upcoming Horror Events</h1>

    <h3>Theaters:</h3>
    <div>
        <a href="/theaters/new">Add New Theater</a>
    </div>
    <div class="theater-list">
    {{#each theaters}}
        <div>
            <button><a href="/theaters/{{this._id}}/events">{{this.name}}</a></button>
        </div>
    {{/each}}
    </div>
</div>