<div>

    <h1>Upcoming Horror Events</h1>

    <h3>Theaters:</h3>
    <div>
        <a href="/theaters/new">Add New Theater</a>
    </div>

    <div id="theaterlist">
        <ul>
    {{#each theaters}}
          <li><button><a href="/theaters/{{this._id}}/events">{{this.name}}</a></li></button>
        
    {{/each}}
        </ul>
    </div>
</div>