<div>
    <h1>{{theater.name}}</h1>
    <div>Address: {{theater.address}}</div>

    <div>
        <a href="/theaters">Back to Theaters</a>
    </div>
    <div>
        <a href="/theaters/{{theater._id}}/edit">Edit</a>
     </div>
     <div>
         <a href="/theaters/{{theater._id}}/delete">Delete</a>
     </div>
</div>